<h1 mat-dialog-title>Crear Personal</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" (change)="formChanged()">
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 ">
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Nombre"
                     formControlName="nombres"
                     (input)="formGroup.controls.nombres.setValue(capitalize(formGroup.controls.nombres.value))"
                     />
                     <mat-error  *ngIf="formGroup.controls.nombres.hasError('text')">
                        Los nombres debe contener solo texto </mat-error> 

                    <mat-error
                        *ngIf="formGroup.controls.nombres.hasError('required')"
                    >
                         El nombre es requerido
                    </mat-error>

                </mat-form-field>
            </div>
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="" formControlName="apellidos"
                    (input)="formGroup.controls.apellidos.setValue(capitalize(formGroup.controls.apellidos.value))"
                    />
                    <mat-error  *ngIf="formGroup.controls.apellidos.hasError('text')">
                       Los apellidos debe contener solo texto </mat-error> />
                    <mat-error
                        *ngIf="formGroup.controls.apellidos.hasError('required')"
                    >
                        Los apellidos son requeridos
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 ">
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Carnet De Indetidad</mat-label>
                    <input matInput placeholder="" formControlName="carnet_identidad"/>
                    <mat-error
                        *ngIf="formGroup.controls.carnet_identidad.hasError('required')"
                    >
                        C.I es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="">

                    <input type="date" formControlName="fecha_nacimiento">
                    <mat-error
                        *ngIf="formGroup.controls.fecha_nacimiento.hasError('required')"
                    >
                        Fecha Nacimento es requerido
                    </mat-error>
                    <mat-error *ngIf="formGroup.controls.fecha_nacimiento.hasError('menor')">
                         Debes ser mayor de 18 años para registrarte </mat-error>
<!--                </mat-form-field>-->
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 ">
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="" formControlName="username"/>
                    <mat-error
                        *ngIf="formGroup.controls.username.hasError('required')"
                    >
                        Usuario es requerido
                    </mat-error>
                </mat-form-field>
            </div>
           <div>
               <mat-form-field appearance="fill" class="w-full">
                   <mat-label>Contraseña</mat-label>
                   <input type="password" matInput placeholder="" formControlName="password"/>
                   <mat-error
                       *ngIf="formGroup.controls.password.hasError('required')"
                   >
                       Contraseña es requerido
                   </mat-error>
               </mat-form-field>
           </div>
        </div>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Direccion</mat-label>
            <input matInput placeholder="" formControlName="direccion"/>
            <mat-error
                *ngIf="formGroup.controls.direccion.hasError('required')"
            >
                Direccion es requerido
            </mat-error>
        </mat-form-field>

        <div class="m-2">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Roles</mat-label>
                <mat-select formControlName="rol_id">
                    <mat-option
                        *ngFor="let rol of roles"
                        [value]="rol.id"
                    >
                        {{ rol.display_name }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="
                        formGroup.controls.rol_id.hasError('required')
                    "
                >
                    El rol  es requerido
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button
        mat-raised-button
        type="submit"
        color="primary"
        class="Update-btn"
        (click)="onSave()"
    >
        Guardar
    </button>
    <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="closeDialog()"
    >
        Cancelar
    </button>
</div>
