<h1 mat-dialog-title>Grear Grupo</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" (change)="formChanged()">
        <div class="m-2">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="nombre" />
                <mat-error
                    *ngIf="formGroup.controls.nombre.hasError('required')"
                >
                    nombre es requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="m-2">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Tipo grupo</mat-label>
                <mat-select formControlName="tipo_grupo_id">
                    <mat-option
                        *ngFor="let tGrupo of tipoGrupos"
                        [value]="tGrupo.id"
                    >
                        {{ tGrupo.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="
                        formGroup.controls.tipo_grupo_id.hasError('required')
                    "
                >
                    tipo grupo es requerido
                </mat-error>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Personal</mat-label>
            <mat-select formControlName="personales" multiple>
                <mat-option
                    *ngFor="let personal of personales"
                    [value]="personal.id"
                >
                    {{ personal.nombre_completo }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="formGroup.get('personales')?.hasError('required')"
            >
                Seleccione personal
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button
        mat-raised-button
        type="submit"
        color="primary"
        class="Update-btn"
        (click)="onSave()"
    >
        Guardar
    </button>
    <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="closeDialog()"
    >
        Cancelar
    </button>
</div>
