<h1 mat-dialog-title>Crear Producto</h1>
<div mat-dialog-content>
    <form [formGroup]="formGroup" (change)="formChanged()">
        <div class="">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Nombre</mat-label>
                <input
                    matInput
                    placeholder="Nombre"
                    formControlName="nombre"
                />
                <mat-error
                    *ngIf="formGroup.controls.nombre.hasError('required')"
                >
                    nombre es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Caracteristicas</mat-label>
                <input
                    type="text"
                    matInput
                    placeholder=""
                    formControlName="caracteristicas"
                />
                <mat-error
                    *ngIf="formGroup.controls.caracteristicas.hasError('required')"
                >
                    Caracteristicas es requerido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Precio</mat-label>
                    <input
                        type="number"
                        matInput
                        placeholder=""
                        formControlName="costo"
                    />
                    <mat-error
                        *ngIf="formGroup.controls.costo.hasError('required')"
                    >
                        Precio es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Precio Unitario</mat-label>
                    <input
                        type="number"
                        matInput
                        placeholder=""
                        formControlName="precio_unitario"
                    />
                    <mat-error
                        *ngIf="formGroup.controls.precio_unitario.hasError('required')"
                    >
                        Precio Unitario es requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


        <div formArrayName="materiales" class="w-[100%]">

            <table class="table-auto table-fixed">
                <thead>
                <tr>
                    <th>Material</th>
                    <th>Cantidad</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let material of materiales.controls;let i = index, let z = last">
                    <ng-container [formGroupName]="i">
                        <tr>
                            <td>
                                <mat-form-field floatLabel="never">
                                    <mat-select formControlName="material_id">
                                        <mat-option *ngFor="let user of materialesData" [value]="user.id">
                                            {{ user.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field floatLabel="never">
                                    <input type="number" matInput placeholder="Cantidad" formControlName="cantidad">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field floatLabel="never">
                                    <input matInput placeholder="Desc.." formControlName="descripcion">
                                </mat-form-field>
                            </td>
                            <td>
                                <button  mat-mini-fab color="accent" type="button" title=""  (click)="AddMaterial()">
                                    <mat-icon>exposure_plus_1</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" type="button"  (click)="removeMaterial(i)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>


            <!--            <mat-table [dataSource]="formArray.controls">-->

            <!--                &lt;!&ndash;                <ng-container matColumnDef="id">&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>&ndash;&gt;-->
            <!--                &lt;!&ndash;                    <mat-cell *matCellDef="let element"> {{element.get('id').value}}. </mat-cell>&ndash;&gt;-->
            <!--                &lt;!&ndash;                </ng-container>&ndash;&gt;-->

            <!--                &lt;!&ndash; User Column &ndash;&gt;-->
            <!--                <ng-container matColumnDef="material_id">-->
            <!--                    <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>-->
            <!--                    <mat-cell class="w-[5rem]" *matCellDef="let element" [formGroup]="element">-->
            <!--                        <mat-form-field floatLabel="never">-->
            <!--                            <mat-select formControlName="material_id" (selectionChange)="onUserChange($event, element)">-->
            <!--                                <mat-option *ngFor="let user of materialesData" [value]="user.id">-->
            <!--                                    {{ user.nombre }}-->
            <!--                                </mat-option>-->
            <!--                            </mat-select>-->
            <!--                        </mat-form-field>-->
            <!--                    </mat-cell>-->
            <!--                </ng-container>-->

            <!--                &lt;!&ndash; Title Column &ndash;&gt;-->
            <!--                <ng-container matColumnDef="cantidad">-->
            <!--                    <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>-->
            <!--                    <mat-cell *matCellDef="let element;" [formGroup]="element">-->
            <!--                        <mat-form-field floatLabel="never">-->
            <!--                            <input type="number" matInput placeholder="Cantidad" formControlName="cantidad">-->
            <!--                        </mat-form-field>-->
            <!--                    </mat-cell>-->
            <!--                </ng-container>-->

            <!--                &lt;!&ndash; Title Column &ndash;&gt;-->
            <!--                <ng-container matColumnDef="descripcion">-->
            <!--                    <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>-->
            <!--                    <mat-cell *matCellDef="let element;" [formGroup]="element">-->
            <!--                        <mat-form-field floatLabel="never">-->
            <!--                            <input matInput placeholder="Desc.." formControlName="descripcion">-->
            <!--                        </mat-form-field>-->
            <!--                    </mat-cell>-->
            <!--                </ng-container>-->

            <!--                <ng-container matColumnDef="actions">-->
            <!--                    <th mat-header-cell *matHeaderCellDef>Acciones</th>-->

            <!--                    <td mat-cell *matCellDef="let element">-->
            <!--                        <button type="button" title="" mat-icon-button (click)="AddMaterial()">-->
            <!--                            <mat-icon>launch</mat-icon>-->
            <!--                        </button>-->
            <!--                        <button type="button" mat-icon-button (click)="removeMaterial(element.id)">-->
            <!--                            <mat-icon color="warn">delete</mat-icon>-->
            <!--                        </button>-->
            <!--                    </td>-->
            <!--                </ng-container>-->

            <!--                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>-->
            <!--                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
            <!--            </mat-table>-->
        </div>

    </form>
</div>
<div mat-dialog-actions>
    <button
        mat-raised-button
        type="submit"
        color="primary"
        class="Update-btn"
        (click)="onSave()"
    >
        Guardar
    </button>
    <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="closeDialog()"
    >
        Cancelar
    </button>
</div>
