<h1 mat-dialog-title>Crear Material</h1>
<ng-container mat-dialog-content>
  <form [formGroup]="formGroup" (change)="formChanged()">
    <div class="gap-2 flex flex-row">
      <div class="w-[70%]">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" 
          formControlName="nombre"
          (input)="formGroup.controls.nombre.setValue(capitalize(formGroup.controls.nombre.value))"
          />
          <mat-error *ngIf="formGroup.controls.nombre.hasError('required')">
            El nombre es requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-[30%]">
        <mat-form-field appearance="fill" class="w-full">
     
          <mat-label>Medída</mat-label>
         
          <mat-select matNativeControl formControlName="medida_id" required>
            <mat-option *ngFor="let item of medidas" [value]="item.id">
              {{ item.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls.medida_id.hasError('required')">
            La medidas es requerida
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      <div class="">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Caracteristicas</mat-label>
          <input
            type="text"
            matInput
            placeholder=""
            formControlName="caracteristica"
            (input)="formGroup.controls.caracteristica.setValue(capitalize(formGroup.controls.caracteristica.value))"
         
          />
          <mat-error
            *ngIf="formGroup.controls.caracteristica.hasError('required')"
          >
           Las caracteristica son  requeridas para un mejor control 
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-container>
<div mat-dialog-actions>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="Update-btn"
    (click)="onSave()"
  >
    Guardar
  </button>
  <button
    mat-raised-button
    type="button"
    class="Discard-btn"
    (click)="closeDialog()"
  >
    Cancelar
  </button>
</div>
