<h1 mat-dialog-title>Crear Material</h1>
<ng-container mat-dialog-content>
    <form [formGroup]="formGroup" (change)="formChanged()">
        <div class="gap-2 flex flex-row">
            <div class="w-[70%]">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Nombre</mat-label>
                    <input
                        matInput
                        placeholder="Nombre"
                        formControlName="nombre"
                    />
                    <mat-error
                        *ngIf="formGroup.controls.nombre.hasError('required')"
                    >
                        nombre es requerido
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-[30%]">
                <mat-form-field appearance="fill" class="w-full">

                    <!--                    <mat-label>Roles</mat-label>-->
                    <!--                    <mat-select formControlName="rol_id">-->
                    <!--                        <mat-option-->
                    <!--                            *ngFor="let tGrupo of roles"-->
                    <!--                            [value]="tGrupo.id"-->
                    <!--                        >-->
                    <!--                            {{ tGrupo.display_name }}-->
                    <!--                        </mat-option>-->
                    <!--                    </mat-select>-->
                    <mat-label>Medída</mat-label>
                    <!--                    <input-->
                    <!--                        type="number"-->
                    <!--                        matInput-->
                    <!--                        placeholder=""-->
                    <!--                        formControlName="kg"-->
                    <!--                    />-->
                    <mat-select
                        matNativeControl
                        formControlName="medida_id"
                        required
                    >
                        <mat-option *ngFor="let item of medidas" [value]="item.id">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="
                            formGroup.controls.medida_id.hasError('required')
                        "
                    >
                        Medidas es requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <div class="">
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Caracteristicas</mat-label>
                    <input
                        type="text"
                        matInput
                        placeholder=""
                        formControlName="caracteristica"
                    />
                    <mat-error
                        *ngIf="formGroup.controls.caracteristica.hasError('required')"
                    >
                        Largo es requerido
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

    </form>
</ng-container>
<div mat-dialog-actions>
    <button
        mat-raised-button
        type="submit"
        color="primary"
        class="Update-btn"
        (click)="onSave()"
    >
        Guardar
    </button>
    <button
        mat-raised-button
        type="button"
        class="Discard-btn"
        (click)="closeDialog()"
    >
        Cancelar
    </button>
</div>
